* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
 --blue: hsl(220, 98%, 61%);
  --light-grey: hsl(0, 0%, 98%);
  --grey: hsl(233, 11%, 84%);
  --dark-grey: hsl(236, 9%, 61%);
  --dark-blue: hsl(235, 19%, 35%);
  --very-dark-blue: hsl(237, 14%, 26%);
}

body {
  background: var(--light-grey);
}